/*----------------------------------------------------------------------------- 
=MAIN STYLES  


color scheme: http://www.colourlovers.com/palette/806955/[slow_motion] ;
-----------------------------------------------------------------------------*/
body{
	padding-top: 70px;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
}
h1{
	font-size: 40px;
	margin-bottom: 20px;
	font-family: 'Indie Flower', cursive;
}
h3{	
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
}
h4{
	margin-top:-20px;
	font-size: 20px;
	font-family: 'Indie Flower', cursive;
}
h5{
	margin-top:-2px;
	font-size: 16px;
	font-family: 'Indie Flower', cursive;
}

.social:hover{
	background: rgb(247,129,60);
	transition-property: background, color;
	transition-duration:.3s;
	transition-timing-function:ease-in;
}
.social:hover .fa{
	color:white;
	transition-property: color;
	transition-duration:.3s;
	transition-timing-function:ease-in;
}

#footer-text{
	font-size: 20px;
}
#footer{
	border:none;

}
.footer{
	background-color: #F8E4C1;
	text-decoration: none;
	color: #777;
}
.footer a{
	color:#777;
}

#side-nav{
	padding: 10px 0 0 20px;
}
#side-nav li a{
	color: rgb(247,129,60);
	font-size: 22px;
	font-weight: 700;
	font-family: 'Indie Flower', cursive;
}


#side-nav .active a{
	color:rgb(46,13,35);
	border-style: solid;
	border-color:rgb(46,13,35) !important;
	border-width: 0 0 0 2px !important;
	padding-left: 30px;
}

#main-nav{
	border:none;
}
.navbar-default .navbar-nav>li>a:hover {
	color:white;
	background: rgb(247,129,60);
	border-style:solid;
	border-color:rgb(46,13,35) !important;
	border-width: 0 0 2px 0 !important;
	transition-property: background, border, color;
	transition-duration:.3s;
	transition-timing-function:ease-in;
}




.img-rounded{
	margin-top:20px;
	margin-bottom:20px;
}
.navbar-default{
	background: rgb(255,237,191);
}
.navbar-default .navbar-nav>#current>a{
	background: rgb(247,128,60);
	color:white;
	border-style:solid;
	border-color:rgb(46,13,35);
	border-width: 0 0 2px 0;
}
.link{
	font-size: 50px;
	margin: -45px 0 0 0;
	padding:0 0 0 0;
	visibility: hidden;

}
.link2{
	font-size: 50px;
	margin: -45px 0 -15px 0;
	padding:0 0 0 0;
	visibility: hidden;
}
.roles{
	background: rgb(248,228,193);
	padding:10px 40px 15px 40px;
	color:rgb(46,13,35);
	width:400px;
	border-radius: 15px;
	margin:0 auto 0 auto;
}
#small-projects{
	margin-bottom: 5px;
}
.roles li{
	font-size: 16px
}

.img-list{
	margin:70px auto 60px auto;
	font-size: 16px;
	
}
.whitespace{
	background: none;
	height: 50px;
}
#marimba-main-img{
	display: block;
	margin: 0 auto 15px auto;
}
.item img{
	margin:0 auto 0 auto;
}

#carousel{
}
.carousel-caption{
	background: rgba(0,0,0,.5);
	width:100%;
	position:absolute;
	left:0;
      padding-left: 100px;
      padding-right: 100px;
}
.carousel-text{
  position:absolute;
  left:100;
  bottom: 100;
  width: 200;
}

.song p{
	margin:15px 0 5px 0;
}











/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(46,13,35);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white !important;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(46,13,35, 0.35) 0%, rgba(46,13,35, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(46,13,35, 0.35) 0%, rgba(46,13,35, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  color: rgb(89,0,59);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
/*----------------------------------------------------------------------------- 
=Landing Page Styles  

-----------------------------------------------------------------------------*/

#landing-page{
	background-color:#2E0D23;
/*	background-image: radial-gradient(#2E0D23 5%, black);
	color:white;  -------*/
	background-image: radial-gradient(white 20%, #F8E4C1); */
	color:#2E0D23;
    	height: 100%;
    	margin: 0;
    	background-repeat: no-repeat;
    	background-attachment: fixed;
    	/*font-family: 'Nunito', sans-serif;*/
    	font-family: 'Ubuntu', sans-serif;
    	/*font-family: 'Merriweather Sans', sans-serif;*/

}
#landing-head{
	font-size: 32px;
	margin-top:-15px;
	line-height: 95%;

}
#landing-text{
	font-size: 18px;
	margin: 30px auto;
}

#landing-footer{
	background: none;
	border:none;
}

.button {
    display: inline-block;
    padding: 5px;
    background-image: linear-gradient(to top,#F54828,#F7803C);
    text-decoration: none !important;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
}
i{
	margin:0 auto;
}
.ddd{

}